.st-2-col-img-text {
  margin: 0 0 50px 0;
}

.st-2-col-img-text-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.st-2-col__reverse {
  flex-direction: row-reverse;
}

.st-2-col__col {
  flex: 0 0 100%;
  max-width: 50%;
  padding: 0 15px;
}

.st-2-col__counter {
  line-height: normal;
  margin: 0;
}

@media (max-width: 992px) {
  .st-2-col__col {
    max-width: 100%;
  }
}