.st-team-list__img img {
  border-radius: 50%;
  height: 128px;
  width: 128px;
}
.st-team-list__info-name{
  color: #242A3F;
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}
.st-team-list__social-icon-wrapper a {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
  border-radius: 50%;
  border: 2px solid #74B2FD;
  margin-right: 17px;
  padding: 10px;
  text-decoration: none;
}
.st-team-list__social-icon-wrapper a svg {
  fill: #74B2FD;
  height: 15px;
  width: 15px;
}