.st-feature-group-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.st-feature-group {
  align-items: center;
  display: flex;
  flex: 0 0 50%;
  flex-wrap: wrap;
  max-width: 50%;
}
.st-feature-group__icon {
  flex: 0 0 10%;
  max-width: 10%;
}
.st-feature-group__content {
  flex: 0 0 40%;
  max-width: 40%;
}