<div class='st-icon-box' style="text-align: {{ module.icon_alignment }};">
  {% if module.icon_or_image == 'icons' %}
  <div class='st-icon-box__icon' data-fill='{{ module.icon_color }}'>
    {% icon	name="{{ module.icon_field.name }}" style="{{ module.icon_field.type }}" unicode="{{ module.icon_field.unicode }}" %}
  </div>
  {% else if module.icon_or_image == 'images' %}
  <div class='st-icon-box__image'>
    {% if module.icon_box_image.src %}
    {% set sizeAttrs = 'width="{{ module.icon_box_image.width }}" height="{{ module.icon_box_image.height }}"' %}
    {% if module.icon_box_image.size_type == 'auto' %}
    {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
    {% elif module.icon_box_image.size_type == 'auto_custom_max' %}
    {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.icon_box_image.max_width }}px; max-height: {{ module.icon_box_image.max_height }}px"' %}
    {% endif %}
    {% set loadingAttr = module.icon_box_image.loading != 'disabled' ? 'loading="{{ module.icon_box_image.loading }}"' : '' %}
    <img src="{{ module.icon_box_image.src }}" alt="{{ module.icon_box_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
    {% endif %}
  </div>
  {% endif %}
  <div class='st-icon-box__text'>
    <h5>{{ module.icon_box_header }}</h5>
    {{ module.icon_box_text }}
  </div>
</div>