<div class="st-image-hover" style="text-align: {{ module.alignment }};">
  <div class="st-image-hover__image">
    {% if module.service_image.src %}
    {% set sizeAttrs = 'width="{{ module.service_image.width }}" height="{{ module.service_image.height }}"' %}
    {% if module.service_image.size_type == 'auto' %}
    {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
    {% elif module.service_image.size_type == 'auto_custom_max' %}
    {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.service_image.max_width }}px; max-height: {{ module.service_image.max_height }}px"' %}
    {% endif %}
    {% set loadingAttr = module.service_image.loading != 'disabled' ? 'loading="{{ module.service_image.loading }}"' : '' %}
    <img src="{{ module.service_image.src }}" alt="{{ module.service_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
    {% endif %}
  </div>
  {% set bgColor1= module.service_overlay_color_1.color %}
  {% set bgOpacity1= module.service_overlay_color_1.opacity %}
  {% if bgOpacity1<100 %}
  {% set bgColorOpacity1=(bgOpacity1/100)%}
  {% endif %}
  {% set bgColor2= module.service_overlay_color_2.color %}
  {% set bgOpacity2= module.service_overlay_color_2.opacity %}
  {% if bgOpacity2<100 %}
  {% set bgColorOpacity2=(bgOpacity2/100)%}
  {% endif %}
  <div class="st-image-hover__content" style="">
    <div class="st-image-hover__content-icon">
      {% if module.service_icon.src %}
      {% set sizeAttrs = 'width="{{ module.service_icon.width }}" height="{{ module.service_icon.height }}"' %}
      {% if module.service_icon.size_type == 'auto' %}
      {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
      {% elif module.service_icon.size_type == 'auto_custom_max' %}
      {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.service_icon.max_width }}px; max-height: {{ module.service_icon.max_height }}px"' %}
      {% endif %}
      {% set loadingAttr = module.service_icon.loading != 'disabled' ? 'loading="{{ module.service_icon.loading }}"' : '' %}
      <img src="{{ module.service_icon.src }}" alt="{{ module.service_icon.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      {% endif %}
    </div>
    <div class="st-image-hover__content-text">
      {% inline_text field="service_text" value="{{ module.service_text }}" %}
    </div>
  </div>
</div>
{% require_css %}
<style>
  .st-image-hover__content {
    background: linear-gradient(180deg, rgba({{bgColor1|convert_rgb}},{{ bgColorOpacity1}}), rgba({{bgColor2|convert_rgb}},{{ bgColorOpacity2}}));
    
  }   
</style>
{% end_require_css %}