.st-accordion__item {
  margin: 10px;
  margin-bottom: 20px;
}
.st-accordion__item button {
  -webkit-appearance: none;
  background-color: #FAFAFA;
  border-radius: 0;
  border: 0 none;
  border: 1px solid #ddd;
  color: #444;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 1em;
  padding: 1em 3em 1em 1em;
  position: relative;
  text-align: left;
  width: 100%;
}

.st-accordion__item button:focus {
  background-color: transparent;
  outline: none;
}

.st-accordion__item button:hover {
  color: #0A57FB;
  
}

.st-accordion__item[aria-expanded=true] button {   
  border-bottom-color: #0A57FB;
  color: #0A57FB;
}
.st-accordion__item-icon {              /* Icon styles */
  -ms-transform: translateY(-50%);
  -o-transition: all .2s ease-in;
  -webkit-transform: translateY(-50%);
  -webkit-transition: all .2s ease-in;
  border-radius: 50%;
  border: 1px solid #a5a5a5;
  height: 1.25em;
  pointer-events: none;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  transition: all .2s ease-in;
  width: 1.25em;
}
.st-accordion__item-icon:before {   
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  background-color: #444;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: .75em;
}
.st-accordion__item-icon:after {   
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  background-color: #444;
  content: "";
  height: .75em;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 1px;
}
.st-accordion__item button:hover .st-accordion__item-icon {
  border-color: #0A57FB;
}
.st-accordion__item button:hover .st-accordion__item-icon:before,
.st-accordion__item button:hover .st-accordion__item-icon:after {
  background-color: #0A57FB;
}
.st-accordion__item[aria-expanded=true] .st-accordion__item-icon {
  -ms-transform: translateY(-50%) rotate(135deg);
  -webkit-transform: translateY(-50%) rotate(135deg);
  background-color: #0A57FB;
  border-color: #0A57FB;
  transform: translateY(-50%) rotate(135deg);
}
.st-accordion__item[aria-expanded=true] .st-accordion__item-icon:before,
.st-accordion__item[aria-expanded=true] .st-accordion__item-icon:after,
.st-accordion__item[aria-expanded=true] button:hover .st-accordion__item-icon:before,
.st-accordion__item[aria-expanded=true] button:hover .st-accordion__item-icon:after {
  background-color: #fff;   
}
.st-accordion__item main {
  -o-transition: opacity .3s ease-out .2s, max-height .3s ease-out;
  -webkit-transition: opacity .3s ease-out .2s, max-height .3s ease-out;
  line-height: 1.6;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .3s ease-out .2s, max-height .3s ease-out;
 
}
.st-accordion__item[aria-expanded=true] main {
  -o-transition: opacity .5s ease-in, max-height .5s ease-in;
  -webkit-transition: opacity .5s ease-in, max-height .5s ease-in;
  max-height: 100%;
  opacity: 1;
  transition: opacity .5s ease-in, max-height .5s ease-in;
  
}
.st-accordion__item-content {
  background-color: #FAFAFA;
  padding: 2em 1em 1.5em;
}
.st-accordion__item-content p {
  margin-top: 0; 
}